<table >
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [routerLink]="['/user', user.id]">
        <td>
            <div class="info-user">
                <img [src]="user.avatar" [alt]="user.first_name">
               <span class="container-name">
                   <p>{{user.first_name}}</p>
                   <p> {{user.last_name}}</p>
               </span>
            </div>
        </td>
        <td>
            <div class="vertical">
                {{user.email}}
            </div>
        </td>
        <td>
            <div class="vertical">
                <span class="status">
                    <div></div>
                    Active
                </span>
            </div>
        </td>
       
      </tr>
    </tbody>
  </table>

  <p *ngIf="error">
    {{error.status}}
    {{error.message}}
</p>